.page-home {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 40px 28px;
    z-index: 0;
    background-color: var(--body-dark-gray);
    /* background: linear-gradient(180deg, #2f265a 0%, rgba(18, 18, 18, 0.85) 45%, rgba(18, 18, 18, 1) 70%); */
    /* background: linear-gradient(180deg, #2f265a 0%, rgba(18,18,18,0.85) 65%, rgba(18,18,18,1) 90%); */
}

.recently-played-section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(180deg, #2f265a 0%, rgba(18,18,18,0.85) 65%, rgba(18,18,18,1) 90%);
}

.recently-played-section {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 8px;
    margin: 8px;
    margin-bottom: 48px;
    z-index: 3;
}



.recently-played-station-container{
    display: flex;
    flex-direction: row;
    min-width: 200px;
    background-color: rgba( 255,255,255, 0.08 );
    border: 0px solid;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    transition: 0.3s ease-in;
}

.recently-played-station-container:hover{
    cursor: pointer;
    background-color: rgba( 255,255,255, 0.2 );
    /* background-color: rgba( var(--body-light-gray-rgb, 64,64,64), 0.45 ); */

    .circle-btn{
        display: flex;
    }
}

.recently-played-station-img-container{
    width: 48px;
    height: 48px;
    overflow: hidden;
}

.recently-played-station-img{
    width: 48px;
    height: 48px;
    transform: scale(1.4);
}

.recently-played-station-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 48px;
    width: 8px;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.12), rgba(0,0,0,0));
}

.recently-played-station-name{
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

@media (max-width: 1400px) {
  .recently-played-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.is-station-playing-img{
    position: absolute;
    bottom: 16px;
    right: 16px;
}
