.add-to-stations-modal {
    overflow-y: hidden;
    max-height: auto;
    position: relative;
    background-color: var(--body-mid-gray) !important;

    
    .station-list-container {
        position: relative;
        min-height: 0;
        max-height: 350px;
        overflow-y: scroll;
        width: 100%;
    }

    .station-list-container li {
        display: flex;
    } 
    
    .details {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .station-preview {
        width: 100%;
    }
    
    .add-to-stations{
        position: relative;
        right: 0px;
    }
}

/* .add-to-stations-modal-list{
    overflow-y: scroll;
} */
.add-to-stations-body:hover{
    background-color: var(--body-mid-gray) !important;
}

.add-to-stations-modal .station-filter-container{
    background-color: var(--body-light-gray) !important;
}
.add-to-stations-modal .search-section{
    width: 100%;
}

/* .added-to-liked-svg{
    display: flex !important;
} */


