.context-menu {
   position: fixed;
   background-color: rgb(40, 40, 40);
   z-index: 10;
   border-radius: 5%;
   border: 1px solid var(--body-dark-gray);
   padding: 2px;
   color: rgba(255, 255, 255, 0.9);
   font-weight: 500;
   font-size: 14px;
   min-width: 208px;

   li:hover{
      background-color: var(--body-light-gray);
   }
}
