.modal-content{

   background-color: var(--body-mid-gray);
   display: flex;
   align-items: space-between;

   h2{
      margin: 0px;
   }
}

.modal-header{
   padding: 0px 24px;
}

.edit-modal .content-container .input {
   border-color: transparent;
   background-color: var(--body-light-gray);
   border-radius: 4px;
}

.edit-modal .content-container .input:focus {
   border: 1px solid;
   border-color: #636363;
   outline: none;
}



.edit-modal .submit-btn {
   font-weight: bold;
   font-size: 16px !important;
}

.edit-modal .submit-btn:hover {
   background-color: var(--surface-contrast);
   transform: scale(1.05);
   cursor: pointer;
}

.close-btn{
   width: 32px !important;
   height: 32px;
   margin: 0;
   padding: 0;
   border-radius: 50%;
}

.close-btn:hover{
   cursor: pointer;
}

.edit-modal svg {
   width: 16px;
   height: 16px;
   fill: var(--text-gray);

}

.field-desc{
   position: relative;
   height: 90% !important;
   resize: none;
}