.find-more-btn {
      /* margin-left: 0; */
      width: auto !important;
      position: relative;
      right: 0px !important;
      align-self: flex-end;
      padding: 0;
      background-color: transparent !important;
      font-size: 13px;
      font-weight: 800;
}

.find-more-container {
      padding: 15px;

      .song-preview{
            grid-template-columns: 36px 1fr 156px;
            gap: 18px;

      }

      ul{
         padding: 0;
      }
}

.find-more-container button {
      background-color: transparent;
}

.find-more-container .search-container {
      max-width: 400px;
      width: 400px;
}

.find-more-container .header {
      display: flex;
      justify-content: space-between;
}

.find-more-container button svg {
      width: 24px;
      height: 24px;
      fill: var(--text-gray);
}

.find-more-container .song-preview button {
      width: 61px;
      border: 1px solid;
      border-color: var(--text-gray);
      font-size: 13.5px;
      font-weight: 700;
      background-color: transparent;
      justify-self: end;
}


