.modal-backdrop {
   position: fixed;
   background-color: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(2px);
   inset: 0;
   height: 100vh;
   width: 100vw;
   z-index: 3;
}

.modal-content {
   position: fixed;
   font-size: 1.1em;
   inset: 0;
   width: 524px;
   height: 384px;
   /* max-width: 425px; */
   /* height: fit-content; */
   /* padding: 33px; */
   background-color: var(--body-mid-gray);
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   justify-content: space-evenly;
   margin: auto;
   z-index: 99;
}

.modal-header {
   display: flex;
   justify-content: space-between;
   align-items: center; /* vertically center them */
   width: 100%;
   padding: 0 20px;
   box-sizing: border-box;
   font-size: medium;
   font-weight: bold;
}

.modal-title {
   margin: 0;
   font-size: 1.3em;
}

.close-btn {
   background: transparent;
   border: none;
   color: white;
   font-size: 1.2em;
   cursor: pointer;
   transition: opacity 0.2s;
   height: 32px;
   width: 32px !important;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.close-btn:hover {
   cursor: default;
   background-color: var(--body-light-gray);
}

.close-btn svg {
   width: 16px;
   height: 16px;
   /* fill: ; */
   /* justify-self: center; */
}

.modal-content .content-container {
   display: grid;
   grid-template-columns: 2fr 3fr;
   grid-template-rows: 1fr 3fr;
   grid-template-areas:
      'img name'
      'img description'
      '. save';
   gap: 18px;

   img {
      grid-area: img;
      width: 180px;
      height: 180px;
   }

   .input {
      border-radius: 5%;
      padding: 5px;
      font: inherit;
   }

   .field-name {
      grid-area: name;
   }

   .field-desc {
      grid-area: description;
   }
   .submit-btn {
      background-color: var(--text-white);
      color: black;
      font-size: large;
      align-self: flex-end;
      width: 99px;
      height: 48px;
      grid-area: save;
      justify-self: end;
      border-radius: 30px;
      border: none;
      outline: none;
   }
}
