.search-container {
   display: flex;
   /* align-items: center; */
   /* border-radius: 999px; */
   border: 2px solid transparent;
   background-color: var(--body-mid-gray);
   /* width: 30%; */
   /* min-width: 500px;
   max-width: 700px; */
   height: 44px;
   padding-left: 12px;
   z-index: 4;
   transition: background-color 320ms ease, box-shadow 160ms ease, transform 120ms ease, border 160ms;
}

.search-container svg {
   fill: var(--text-gray);
   height: 24px;
   width: 24px;
   transition: fill 320ms;
   align-self: center;
}

.search-bar {
   display: flex;
   align-items: center;
   width: 80%;
   padding: 4px 12px;
   cursor: text;
   box-shadow: none;
   border: none;
   background-color: rgba(255, 255, 255, 0);
   outline: none;
}

.search-bar::placeholder {
   font-size: 16px;
   font-weight: 500;
   color: var(--text-gray);
   /* letter-spacing: 1px; */
}

.search-active {
   border: 2px solid var(--text-white);
}

.search-active svg {
   fill: var(--text-white);
}

.search-container .browse-container {
   border-inline-start: 1px solid dimgrey;
   /* height: 85%; */
   button {
      padding: 0;
   }

   /* svg {
      fill: var(--text-white);
   } */

   svg.transparent {
      fill: transparent;
   }
}
