.station-list-container ul {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   margin-right: 0px;
   gap: 5px;
}

.station-list-container li {
   border-radius: 1%;
}

.station-list-container li:hover {
   cursor: pointer;
   background-color: var(--body-mid-gray);
}

.station-list-container li.selected {
   background-color: var(--body-light-gray);
}
