.station-list-container ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-right: 0;
    gap: 5px;
    margin: 0px;
    width: auto;
}

.clean-list {
    margin: 0px;
    width: auto;
    overflow-x: hidden;
}

.station-list-container li {
    display: grid;
    grid-template-areas: 'thumbnail';
    border-radius: 4px;
}

.clean-list-collapsed .station-preview{
    margin-bottom: 4px;
    padding: 0;
    padding-top: 4px;
    padding-left: 6px;
    display: flex;
    justify-content: center;
}

.station-list-container li:hover {
    cursor: pointer;
    background-color: var(--body-mid-gray);
}

.station-list-container li.selected {
    background-color: var(--body-light-gray);
}

.side-nav-content .station-list-container {
    flex: 1;
    min-height: 0;
    display: flex;
}

.side-nav-content .station-list-container ul {
    flex: 1;
    overflow-y: auto;
   
    /* padding-right: 16px;
    margin-right: -16px; */
    /* scrollbar-gutter: stable; */
}

.station-list-container .remove-btn {
   justify-self: flex-end;
   align-self: first baseline;
}

.side-nav-content {
    margin: 0px !important;
    padding: 0px !important;
     gap:0;
}

/* hide by default */
/* .side-nav .station-list-container ul {
  scrollbar-width: none;
  li{
    margin-right: 12px;
  }
} */

/* .side-nav .station-list-container ul::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.25);
  border-radius: 999px;
  width: 12px;
  height: 20px !important;
}
.side-nav .station-list-container ul::-webkit-scrollbar {
  width: 12px;
  height: 0;
  background: transparent;
} */

/* reveal on hover */
/* .side-nav:hover .station-list-container ul {
  scrollbar-width: thin;
  li{
    margin-right: 0px;
  }
  
} */
/* .side-nav:hover .station-list-container ul::-webkit-scrollbar {
  width: 12px;
  height: 20px;
} */
/* .side-nav:hover .station-list-container ul::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.25);
  border-radius: 999px;
} */
