.spotify-layout {
    display: grid;
    grid-template-columns: 338px 1fr;
    grid-template-rows: 64px 1fr 90px;
    grid-template-areas:
        "header header"
        "sidebar main"
        "player player";
    height: 100vh;
    background-color: var(--body-black);
    color: var(--text-white);
    gap: 0px 8px;
    padding: 0px 8px;
    box-sizing: border-box;
    overflow: hidden;
}

.spotify-layout-header {
    grid-area: header;
    background-color: var(--body-black);
    border-radius: 8px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spotify-layout-sidebar {
    grid-area: sidebar;
    background-color: var(--body-dark-gray);
    border-radius: 8px;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 0;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}

.spotify-layout-main {
    grid-area: main;
    /* background-color: var(--body-dark-gray); */
    background-color: transparent;
    border-radius: 8px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.spotify-layout-player {
    grid-area: player;
    background-color: var(--body-black);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
    z-index: 1;
}

.spotify-layout-sidebar > * {
    flex: 1;
    min-height: 0;
}

.spotify-layout-main > * {
    flex: 1;
    min-height: 0;
}

