:root {
    --body-green: #1fd760;
    --body-black: #000000;
    --body-dark-gray: #121212;
    --body-mid-gray: #1f1f1f;
    --body-light-gray: #353535;
    --text-white: #fff;
    --text-gray: #b3b3b3;
}